[submodule "lsp-servers/lua-language-server"]
	path = lsp-servers/lua-language-server
	url = https://github.com/LuaLS/lua-language-server
[submodule "lsp-servers/rust-analyzer"]
	path = lsp-servers/rust-analyzer
	url = https://github.com/rust-lang/rust-analyzer.git
